@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

body {
    background-color: #F4F9F4;
    font-family: 'Oswald', sans-serif;
}
.app {
    height: 100vh;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8AAE92 !important;
    border: none;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #616161 !important;
    border: none;
}